body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

#youtube-header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  height: 56px;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 10px;
  margin: auto;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#logo-hamb {
  display: flex;
  grid-column: 1;
  height: inherit;
  align-items: center;
}

#hamb {
  margin-right: 10px;
  height: 15px;
}

#logo {
  width: 80px;
  height: auto;
}

#main {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
}

#primary {
  width: 60%;
}

#secondary {
  background-color: white;
  width: 25%;
  margin-left: 15px;
}

#search-bar {
  grid-column: 3;
  margin-top: 15px;
  margin-bottom: 15px;
}

#description {
  background-color: white;
  margin-right: 15px;
}

#detailed-info {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

#video {
  position: relative;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  resize: both;
  /* overflow: auto; */
}

.recomended-text {
  text-align: left;
  width: 60%;
  margin-left: 5px;
  width: 300px;
  font-size: 15pt;
}

.recomended-video {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  width: 100%;
  margin-bottom: 7px;
}

.thumbnail {
  width: 50%;
  object-fit: contain;
}

#recomended-title {
  font-size: 18pt;
}

#video-information {
  margin-top: 7px;
  padding: 15px;
  background-color: white;
}

#name-subscribe {
  display: flex;
  justify-content: start;
  margin-left: 20px;
  order: 2;
  flex-direction: column;
}

#block {
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid rgba(150, 149, 149, 0.384); */
  padding-bottom: 5px;
}

#interactions {
  color: #7e7e7e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 7px;
  height: au;
  align-content: baseline;
  border-top: 1px solid rgba(150, 149, 149, 0.384);
}

.actions {
  display: flex;
  justify-content: center;
}

.likes {
  display: flex;
  justify-content: center;
}

.icon-text {
  display: flex;
  margin: 5px;
}

.material-icons {
  margin-right: 3px;
}

#sub-all {
  border: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
}

#sub-number {
  color: #808080;
  font-size: 0.8em;
  margin: auto;
  margin-right: 3px;
  background-color: #fafafa;
}

#view-count {
  color: #808080;
  font-size: 1.3em;
  text-align: right;
}

#detailed-info {
  color: #363636;
  margin-bottom: 5px;
}

#show-more {
  margin-top: 10px;
  font-size: 0.9em;
  color: #808080;
  text-transform: uppercase;
  text-align: center;
}
